@charset "utf-8";
/* CSS Document */

html {
	margin-top: 10px; margin-left: 20px; font-size: calc(1em) 
}
body {
	background: #FFFFFF;
}
h1 {font-family: 'Roboto'; color: #2C98CB}
h2 {font-family: 'Lato'; color: #505050}
h4 {	
	margin: 0; font-family: 'Lato'; color: #505050; 
}
p {font-family: 'Lato'; color: #505050}
a {color: #505050}
overall {color: blue}