@charset "utf-8";
/* CSS Document */

html {margin-top: 10px; margin-left: 20px}
h1 {font-family: 'Roboto'; color: #2C98CB}
h2 {font-family: 'Lato'; color: #505050}
p {font-family: 'Lato'; color: #24769D}
a {color: #F0AF43}